.weather {
  color: rgb(230, 230, 230);
}
.hero {
  background: linear-gradient(
      132deg,
      rgba(42, 42, 43, 0.8) 0%,
      rgba(255, 255, 255, 0.01) 100%
    ),
    url(background.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

#winput {
width: 300px;
border: none;
border-radius: 5px;
padding: 5px;
}

.switch {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 5px;
  border: 2px solid #494949  !important;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

button:hover {
color: #20bf6b !important;
border-radius: 50px;
border-color: #20bf6b !important;
transition: all 0.3s ease 0s;
}
