html {
  min-width: 450px;
}

header {
  height: 30px;

  color: white;
  background: black;

  font-family: monospace;
}

.weather {
  color: rgb(230, 230, 230);
}

.hero {
  height: 100vh;
  margin: 0;

  background: linear-gradient(132deg,
      rgba(42, 42, 43, 0.8) 0%,
      rgba(255, 255, 255, 0.01) 100%),
    url(background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#display {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 300px;
  padding: 0px 0 0 0px;

  font-weight: 100;
}

.icon {
  position: absolute;
  top: -50px;
  right: 0;

  width: 200px;
}

.location {
  font-size: 30px;
}

.output {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 50px;
}

.data {
  font-size: 30px;
}

#gif {
  width: 250px;
  height: 250px;

  border-radius: 50%;
}

.user-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 20vh;
}

#winput {
  width: 300px;
  padding: 5px;

  border: none;
  border-radius: 5px;
}

.switch {
  position: relative;

  display: inline-block;

  width: 50px;
  height: 24px;
  margin-top: 10px;
}

.switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  cursor: pointer;
  transition: .4s;

  background: #ccc;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;

  width: 16px;
  height: 16px;

  content: "";
  transition: .4s;

  background-color: white;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  display: inline-block;

  width: 100px;
  margin-top: 10px;
  padding: 5px;

  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;

  color: #494949 !important;
  border: 2px solid #494949 !important;
  border-radius: 5px;
  background: #ffffff;
}

button:hover {
  transition: all 0.3s ease 0s;

  color: #20bf6b !important;
  border-color: #20bf6b !important;
  border-radius: 50px;
}

footer {
  height: 30px;

  color: white;
  background: black;

  font-family: monospace;
}
